html

	head

		meta(charset="utf-8")

		block title
			title

		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

		script(src="//apps.8thwall.com/xrweb?appKey=9JzsUVFvcpuB9DlCNhiOgzdqbKMPzDtCVMMz8nMGRw6JgyGBcUEpASuPrS3AIBHbL976i9")

	body

		canvas

		#wrapper

			// 1
			section.load-section.progress-bar-section
				.logo-block
					img(src='./img/logo-sm.svg' alt='Logo')
				.progress-block
					.progress-bar-item
						.scale-item
						.percent 0%
					.loading-progress &Icy;&dcy;&iecy;&tcy; &zcy;&acy;&gcy;&rcy;&ucy;&zcy;&kcy;&acy;...
				.title-block
					.title-item.top-title &Mcy;&yacy;&scy;&ncy;&icy;&kcy;
					.title-item.middle-title &Scy;&lcy;&ocy;&vcy;&ocy;
					.title-item.bottom-title &Gcy;&ocy;&vcy;&ocy;&rcy;&icy;&tcy;

			#camera-sections
				header.camera-header(style="display: none; z-index: 999999;")
					//- a.back(href='#')
					//- 	svg(style='display:block;' width='19' height='15' viewbox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg')
					//- 		path(d='M1 7.5C6.66667 7.5 18 7.5 18 7.5M1 7.5C3.125 9.66667 7.375 14 7.375 14M1 7.5C3.125 5.33333 7.375 0.999999 7.375 0.999999' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
					img.camera-logo(src='img/logo-sm.svg' alt='')
					a.subtitles#subtitles.subtitles-on
						svg.subtitles-on(width='22' height='18' viewbox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0)')
								path(d='M19.25 17.4167H2.75C1.99089 17.4167 1.34277 17.1332 0.805664 16.5662C0.268555 15.9993 0 15.3152 0 14.5139V2.90278C0 2.10149 0.268555 1.41737 0.805664 0.850423C1.34277 0.283474 1.99089 0 2.75 0H19.25C20.0091 0 20.6572 0.283474 21.1943 0.850423C21.7314 1.41737 22 2.10149 22 2.90278V14.5139C22 15.3152 21.7314 15.9993 21.1943 16.5662C20.6572 17.1332 20.0091 17.4167 19.25 17.4167ZM5.48926 5.80556C5.86881 5.80556 6.19466 5.94918 6.4668 6.23644C6.73893 6.52369 6.875 6.86386 6.875 7.25694H9.625C9.625 6.04745 9.22396 5.01939 8.42188 4.17274C7.61979 3.3261 6.64583 2.90278 5.5 2.90278C4.35417 2.90278 3.38021 3.3261 2.57812 4.17274C1.77604 5.01939 1.375 6.04745 1.375 7.25694V10.1597C1.375 11.3692 1.77604 12.3973 2.57812 13.2439C3.38021 14.0906 4.35417 14.5139 5.5 14.5139C6.64583 14.5139 7.61979 14.0906 8.42188 13.2439C9.22396 12.3973 9.625 11.3692 9.625 10.1597H6.875C6.875 10.5679 6.73893 10.9119 6.4668 11.1916C6.19466 11.4713 5.86881 11.6111 5.48926 11.6111C5.1097 11.6111 4.78744 11.4713 4.52246 11.1916C4.25749 10.9119 4.125 10.5679 4.125 10.1597V7.25694C4.125 6.86386 4.25749 6.52369 4.52246 6.23644C4.78744 5.94918 5.1097 5.80556 5.48926 5.80556ZM16.4893 5.80556C16.8688 5.80556 17.1947 5.94918 17.4668 6.23644C17.7389 6.52369 17.875 6.86386 17.875 7.25694H20.625C20.625 6.04745 20.224 5.01939 19.4219 4.17274C18.6198 3.3261 17.6458 2.90278 16.5 2.90278C15.3542 2.90278 14.3802 3.3261 13.5781 4.17274C12.776 5.01939 12.375 6.04745 12.375 7.25694V10.1597C12.375 11.3692 12.776 12.3973 13.5781 13.2439C14.3802 14.0906 15.3542 14.5139 16.5 14.5139C17.6458 14.5139 18.6198 14.0906 19.4219 13.2439C20.224 12.3973 20.625 11.3692 20.625 10.1597H17.875C17.875 10.5679 17.7389 10.9119 17.4668 11.1916C17.1947 11.4713 16.8688 11.6111 16.4893 11.6111C16.1097 11.6111 15.7874 11.4713 15.5225 11.1916C15.2575 10.9119 15.125 10.5679 15.125 10.1597V7.25694C15.125 6.86386 15.2575 6.52369 15.5225 6.23644C15.7874 5.94918 16.1097 5.80556 16.4893 5.80556Z' fill='white')
							defs
								clippath#clip0
									rect(width='22' height='17.4167' fill='white')
						svg.subtitles-of(width='22' height='23' viewbox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0)')
								path(d='M20.0449 19.1426L17.9609 16.2422C18.7487 15.9414 19.3896 15.4437 19.8838 14.749C20.3779 14.0544 20.625 13.2702 20.625 12.3965H17.875C17.875 12.7832 17.7425 13.109 17.4775 13.374C17.2126 13.639 16.8867 13.7715 16.5 13.7715C16.3997 13.7715 16.2923 13.7572 16.1777 13.7285L15.125 12.2676V9.64648C15.125 9.27409 15.2611 8.95182 15.5332 8.67969C15.8053 8.40755 16.1276 8.27148 16.5 8.27148C16.8724 8.27148 17.1947 8.40755 17.4668 8.67969C17.7389 8.95182 17.875 9.27409 17.875 9.64648H20.625C20.625 8.51497 20.224 7.5446 19.4219 6.73535C18.6198 5.92611 17.6458 5.52148 16.5 5.52148C15.5547 5.52148 14.7132 5.81152 13.9756 6.3916C13.238 6.97168 12.7546 7.71289 12.5254 8.61523L8.35742 2.77148H19.25C20.0091 2.77148 20.6572 3.04004 21.1943 3.57715C21.7314 4.11426 22 4.76237 22 5.52148V16.5215C22 17.1374 21.8174 17.6852 21.4521 18.165C21.0869 18.6449 20.6178 18.9707 20.0449 19.1426ZM18.8418 21.6133C18.5697 21.8854 18.2402 22.0215 17.8535 22.0215C17.4668 22.0215 17.1445 21.8854 16.8867 21.6133L3.13672 2.38477C2.86458 2.11263 2.72852 1.7832 2.72852 1.39648C2.72852 1.00977 2.86458 0.680339 3.13672 0.408203C3.40885 0.136068 3.73828 0 4.125 0C4.51172 0 4.83398 0.136068 5.0918 0.408203L18.8418 19.6582C19.1139 19.9303 19.25 20.2562 19.25 20.6357C19.25 21.0153 19.1139 21.3411 18.8418 21.6133ZM5.51074 13.7715C5.13119 13.7715 4.80534 13.639 4.5332 13.374C4.26107 13.109 4.125 12.7832 4.125 12.3965V9.64648C4.125 9.27409 4.26107 8.95182 4.5332 8.67969C4.80534 8.40755 5.1276 8.27148 5.5 8.27148C5.60026 8.27148 5.70768 8.28581 5.82227 8.31445L8.74414 12.3965H6.875C6.875 12.7832 6.74251 13.109 6.47754 13.374C6.21256 13.639 5.8903 13.7715 5.51074 13.7715ZM1.375 9.64648V12.3965C1.375 13.5423 1.77604 14.5163 2.57812 15.3184C3.38021 16.1204 4.35417 16.5215 5.5 16.5215C6.44531 16.5215 7.28678 16.2314 8.02441 15.6514C8.76204 15.0713 9.24544 14.3301 9.47461 13.4277L13.6426 19.2715H2.75C1.99089 19.2715 1.34277 19.0029 0.805664 18.4658C0.268555 17.9287 0 17.2806 0 16.5215V5.52148C0 4.9056 0.182617 4.35775 0.547852 3.87793C0.913086 3.39811 1.38216 3.07227 1.95508 2.90039L4.03906 5.80078C3.2513 6.10156 2.61035 6.60286 2.11621 7.30469C1.62207 8.00651 1.375 8.78711 1.375 9.64648Z' fill='white')
							defs
								clippath#clip0
									rect(width='22' height='22.0215' fill='white')
					a.sound#sound.sound-off(href='#')
						svg.speaker(width='11' height='14' viewbox='0 0 11 14' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M0.976003 11.1348H5.5783L8.87301 13.7868C9.52368 14.199 10.4348 13.8143 10.4348 13.1272V0.870374C10.4348 0.197071 9.50742 -0.201414 8.87301 0.210812L5.5783 2.8628H0.976003C0.439201 2.8628 0 3.2338 0 3.68725V10.3242C0 10.7638 0.439201 11.1348 0.976003 11.1348Z' fill='white')
						svg.cross(style='margin-left:2px;' width='8' height='9' viewbox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(fill-rule='evenodd' clip-rule='evenodd' d='M7.69708 1.78033C7.98997 1.48744 7.98997 1.01256 7.69708 0.71967C7.40418 0.426777 6.92931 0.426777 6.63642 0.71967L4.04175 3.31434L1.44708 0.71967C1.15418 0.426777 0.679311 0.426777 0.386418 0.71967C0.0935248 1.01256 0.0935248 1.48744 0.386418 1.78033L2.98109 4.375L0.386418 6.96967C0.0935248 7.26256 0.0935248 7.73744 0.386418 8.03033C0.679311 8.32322 1.15418 8.32322 1.44708 8.03033L4.04175 5.43566L6.63642 8.03033C6.92931 8.32322 7.40418 8.32322 7.69708 8.03033C7.98997 7.73744 7.98997 7.26256 7.69708 6.96967L5.10241 4.375L7.69708 1.78033Z' fill='white')

				//- header.camera-header(style="display: none; z-index: 999999;")
				//- 	//- a.back(href='https://grill-landia.club')
				//- 	//- 	svg(style='display:block;' width='19' height='15' viewbox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 	//- 		path(d='M1 7.5C6.66667 7.5 18 7.5 18 7.5M1 7.5C3.125 9.66667 7.375 14 7.375 14M1 7.5C3.125 5.33333 7.375 0.999999 7.375 0.999999' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
				//- 	img.camera-logo(src='./img/logo-sm.svg' alt='' onClick="window.open('https://grill-landia.club')")
				//- 	a.sound#sound.sound-off
				//- 		svg(style='display:block;' width='20' height='14' viewbox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 			path(d='M0.976003 11.1348H5.5783L8.87301 13.7868C9.52368 14.199 10.4348 13.8143 10.4348 13.1272V0.870374C10.4348 0.197071 9.50742 -0.201414 8.87301 0.210812L5.5783 2.8628H0.976003C0.439201 2.8628 0 3.2338 0 3.68725V10.3242C0 10.7638 0.439201 11.1348 0.976003 11.1348Z' fill='white')
				//- 			path.cross(fill-rule='evenodd' clip-rule='evenodd' d='M19.6971 3.78033C19.99 3.48744 19.99 3.01256 19.6971 2.71967C19.4042 2.42678 18.9293 2.42678 18.6364 2.71967L16.0417 5.31434L13.4471 2.71967C13.1542 2.42678 12.6793 2.42678 12.3864 2.71967C12.0935 3.01256 12.0935 3.48744 12.3864 3.78033L14.9811 6.375L12.3864 8.96967C12.0935 9.26256 12.0935 9.73744 12.3864 10.0303C12.6793 10.3232 13.1542 10.3232 13.4471 10.0303L16.0417 7.43566L18.6364 10.0303C18.9293 10.3232 19.4042 10.3232 19.6971 10.0303C19.99 9.73744 19.99 9.26256 19.6971 8.96967L17.1024 6.375L19.6971 3.78033Z' fill='white')
				//- 	a.sound#bubbles.sound-off(style="right: 24px;")
				//- 		svg(style='display:block;' width='20' height='14' viewbox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 			path(d='M0.976003 11.1348H5.5783L8.87301 13.7868C9.52368 14.199 10.4348 13.8143 10.4348 13.1272V0.870374C10.4348 0.197071 9.50742 -0.201414 8.87301 0.210812L5.5783 2.8628H0.976003C0.439201 2.8628 0 3.2338 0 3.68725V10.3242C0 10.7638 0.439201 11.1348 0.976003 11.1348Z' fill='white')
				//- 			path.cross(fill-rule='evenodd' clip-rule='evenodd' d='M19.6971 3.78033C19.99 3.48744 19.99 3.01256 19.6971 2.71967C19.4042 2.42678 18.9293 2.42678 18.6364 2.71967L16.0417 5.31434L13.4471 2.71967C13.1542 2.42678 12.6793 2.42678 12.3864 2.71967C12.0935 3.01256 12.0935 3.48744 12.3864 3.78033L14.9811 6.375L12.3864 8.96967C12.0935 9.26256 12.0935 9.73744 12.3864 10.0303C12.6793 10.3232 13.1542 10.3232 13.4471 10.0303L16.0417 7.43566L18.6364 10.0303C18.9293 10.3232 19.4042 10.3232 19.6971 10.0303C19.99 9.73744 19.99 9.26256 19.6971 8.96967L17.1024 6.375L19.6971 3.78033Z' fill='white')

				// 2
				section.camera-section(style="display: none; z-index: 999998;")
					.gradient
					.manual-control.tap
						img(src='./img/tap.svg' alt='Tap')
						.description
							//- | &Ncy;&acy;&vcy;&iecy;&dcy;&icy;&tcy;&iecy; &kcy;&acy;&mcy;&iecy;&rcy;&ucy; &ncy;&acy; &pcy;&ocy;&vcy;&iecy;&rcy;&khcy;&ncy;&ocy;&scy;&tcy;&softcy; &icy; &tcy;&acy;&pcy;&ncy;&icy;&tcy;&iecy; &pcy;&ocy; &ncy;&iecy;&jcy; &pcy;&acy;&lcy;&softcy;&tscy;&iecy;&mcy;.
							| &#1053;&#1072;&#1078;&#1084;&#1080;&#1090;&#1077; &#1087;&#1072;&#1083;&#1100;&#1094;&#1077;&#1084;

				// 3
				section.camera-section(style="display: none; z-index: 999998;")
					//- .gradient
					.manual-control.increase
						//- img(src='./img/zoom.svg' alt='Tap')
						.description
							//- | &CHcy;&tcy;&ocy;&bcy;&ycy; &ucy;&vcy;&iecy;&lcy;&icy;&chcy;&icy;&tcy;&softcy; &icy;&lcy;&icy; &ucy;&mcy;&iecy;&ncy;&softcy;&shcy;&icy;&tcy;&softcy;, &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&jcy;&tcy;&iecy; &zhcy;&iecy;&scy;&tcy; &laquo;&zcy;&ucy;&mcy;&raquo;
							| &#1063;&#1090;&#1086;&#1073;&#1099; &#1091;&#1074;&#1077;&#1083;&#1080;&#1095;&#1080;&#1090;&#1100; &#1080;&#1083;&#1080; &#1091;&#1084;&#1077;&#1085;&#1100;&#1096;&#1080;&#1090;&#1100;, &#1074; &#1083;&#1102;&#1073;&#1086;&#1081; &#1084;&#1086;&#1084;&#1077;&#1085;&#1090; &#1080;&#1089;&#1087;&#1086;&#1083;&#1100;&#1079;&#1091;&#1081;&#1090;&#1077; &#1078;&#1077;&#1089;&#1090; &#1079;&#1091;&#1084;

				// 4
				section.camera-section.slider-section(style="display: none; z-index: 999998;")
					.slider-block.meat-slider
						.slider-content
							.slider-block-item
								.slide-title &Kcy;&ucy;&pcy;&acy;&tcy;&ycy;
								img(style='bottom:5px;' src='./img/kupaty.png' alt='Kupaty')
							.slider-block-item
								.slide-title &Bcy;&iecy;&kcy;&ocy;&ncy;
								img(style='bottom:5px;' src='./img/bacon.png' alt='Kupaty')
							.slider-block-item
								.slide-title &Kcy;&ocy;&lcy;&bcy;&acy;&scy;&kcy;&icy;
								img(style='bottom:4px;' src='./img/sausages.png' alt='Kupaty')
							.slider-block-item
								.slide-title &Bcy;&ucy;&rcy;&gcy;&iecy;&rcy;&ycy;
								img(style='bottom:0;' src='./img/burger.png' alt='Kupaty')
							.slider-block-item
								.slide-title &SHcy;&acy;&shcy;&lcy;&ycy;&kcy;
								img(style='bottom:10px;' src='./img/barbecue.png' alt='Kupaty')
							.slider-block-item
								.slide-title &Scy;&tcy;&iecy;&jcy;&kcy;&icy;
								img(style='bottom:9px;' src='./img/steak.png' alt='Kupaty')
							.slider-block-item
								.slide-title &CHcy;&iecy;&vcy;&acy;&pcy;&chcy;&icy;&chcy;&icy;
								img(style='bottom:0;' src='./img/chevapi.png' alt='Kupaty')
							.empty-block

				// 5
				section.camera-section.slider-section(style="display: none; z-index: 999998;")
					.slider-block.sauce-slider
						.slider-content
							.slider-block-item
								.slide-title &Ucy;&kcy;&scy;&ucy;&scy;
								img(style='bottom:7px;' src='./img/vinegar.png' alt='Kupaty')
							.slider-block-item
								.slide-title &Mcy;&acy;&jcy;&ocy;&ncy;&iecy;&zcy;
								img(style='bottom:7px;' src='./img/mayonnaise.png' alt='Kupaty')
							.slider-block-item
								.slide-title
									| &Scy;&ocy;&iecy;&vcy;&ycy;&jcy;
									br
									|  &scy;&ocy;&ucy;&scy;
								img(style='bottom:0;' src='./img/soy-sauce.png' alt='Kupaty')
							.slider-block-item
								.slide-title &Scy;&pcy;&iecy;&tscy;&icy;&icy;
								img(style='bottom:5px;' src='./img/spice.png' alt='Kupaty')
							.empty-block

				// 6
				section.camera-section.slider-section(style="display: none; z-index: 999998;")
					.slider-block.spice-slider
						.slider-content
							.slider-block-item
								.slide-title &Scy;&ocy;&lcy;&softcy;
								img(style='bottom:4px;' src='./img/salt.png' alt='Kupaty')
							.slider-block-item
								.slide-title &Pcy;&iecy;&rcy;&iecy;&tscy;
								img(style='bottom:7px;' src='./img/pepper.png' alt='Kupaty')
							.slider-block-item
								.slide-title &Lcy;&ucy;&kcy;
								img(style='bottom:0;' src='./img/onion.png' alt='Kupaty')
							.slider-block-item
								.slide-title &Pcy;&acy;&pcy;&rcy;&icy;&kcy;&acy;
								img(style='bottom:6px;' src='./img/paprika.png' alt='Kupaty')
							.slider-block-item
								.slide-title &Pcy;&iecy;&tcy;&rcy;&ucy;&shcy;&kcy;&acy;
								img(style='bottom:0;' src='./img/parsley.png' alt='Kupaty')
							.slider-block-item
								.slide-title &Bcy;&acy;&zcy;&icy;&lcy;&icy;&kcy;
								img(style='bottom:0;' src='./img/basil.png' alt='Basil')
							.slider-block-item
								.slide-title &CHcy;&acy;&bcy;&rcy;&iecy;&tscy;
								img(style='bottom:17px;' src='./img/tyme-left.png' alt='Tyme')
								img(style='bottom:17px;' src='./img/tyme-right.png' alt='Tyme')
							.slider-block-item
								.slide-title &Kcy;&ocy;&rcy;&icy;&acy;&ncy;&dcy;&rcy;
								img(style='bottom:-11px;' src='./img/coriander.png' alt='Coriander')
							.slider-block-item
								.slide-title
									| &Pcy;&iecy;&rcy;&iecy;&tscy;
									br
									|  &gcy;&ocy;&rcy;&ocy;&shcy;&iecy;&kcy;
								img(style='bottom:0;' src='./img/peppercorns.png' alt='Peppercorns')

							.slider-block-item
								.slide-title &CHcy;&iecy;&scy;&ncy;&ocy;&kcy;
								img(style='bottom:20px;width:67px;height:54px;' src='./img/garlic.png' alt='Чеснок')

							.slider-block-item
								.slide-title &Pcy;&iecy;&rcy;&iecy;&tscy; &bcy;&iecy;&lcy;&ycy;&jcy;
								img(style='bottom:9px;width:80px;height:61px;' src='./img/white-pepper.png' alt='Перец белый')

							.slider-block-item
								.slide-title &Pcy;&iecy;&rcy;&iecy;&tscy; &kcy;&rcy;&acy;&scy;&ncy;&ycy;&jcy; &scy;&lcy;&acy;&dcy;&kcy;&icy;&jcy;
								img(style='bottom:6px;width:64px;height:57px;' src='./img/red-pepper.png' alt='Перец красный сладкий')

							.slider-block-item
								.slide-title &Tcy;&mcy;&icy;&ncy;
								img(style='bottom:10px;width:82px;height:70px;' src='./img/tmin.png' alt='Тмин')

							.slider-block-item
								.slide-title &Tcy;&ocy;&mcy;&acy;&tcy;
								img(style='bottom:15px;width:63px;height:62px;' src='./img/tomat.png' alt='Томат')

							.slider-block-item
								.slide-title &Ocy;&rcy;&iecy;&gcy;&acy;&ncy;&ocy;
								img(style='bottom:7px;width:100px;height:66px;' src='./img/marjoram.png' alt='Орегано')

							.slider-block-item
								.slide-title &Mcy;&acy;&jcy;&ocy;&rcy;&acy;&ncy;
								img(style='bottom:14px;width:100px;height:60px;' src='./img/oregano.png' alt='Майоран')

							.slider-block-item
								.slide-title &Icy;&mcy;&bcy;&icy;&rcy;&softcy;
								img(style='bottom:16px;width:87px;height:64px;' src='./img/ginger.png' alt='Имбирь')

							.slider-block-item
								.slide-title &Ucy;&kcy;&rcy;&ocy;&pcy;
								img(style='bottom:17px;width:78px;height:57px;' src='./img/dill.png' alt='Укроп')

							.slider-block-item
								.slide-title &Pcy;&acy;&zhcy;&icy;&tcy;&ncy;&icy;&kcy;
								img(style='bottom:15px;width:81px;height:53px;' src='./img/fenugreek.png' alt='Пажитник')

							.empty-block

				// 7
				section.camera-section.end-section(style="display: none; z-index: 999998;")
					.gradient
					.link-block
						.double-link
							a.end-link.cook-more(style="margin-right: 0; font-size: 20px;") &Pcy;&rcy;&icy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&softcy; &iecy;&shchcy;&iecy;
							//- a.end-link.return-factory(href='/') &Ncy;&acy; &zcy;&acy;&vcy;&ocy;&dcy;
						a.go-site(href='https://grill-landia.club' target="_blank") &Pcy;&iecy;&rcy;&iecy;&jcy;&tcy;&icy; &ncy;&acy; &scy;&acy;&jcy;&tcy;

				#bubble.camera-logo-block(style="display: none; z-index: 999998;")
					#bubble-text.text-block
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus sed felis mattis dictum sodales a, placerat
						| lectus turpis. Facilisi.

		//- #audios(style="display: none;")
		//- 	//- audio(src="" preload)
		//- 	audio(id="./audio/mp3/Nachalo.mp3" src="./audio/mp3/Nachalo.mp3" type="audio/mpeg" preload)
		//- 	//- audio(src="./audio/mp3/Svinina1.mp3" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)
		//- 	//- audio(src="" preload)