html

	head

		meta(charset="utf-8")

		block title
			title

		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

		script(src="//apps.8thwall.com/xrweb?appKey=9JzsUVFvcpuB9DlCNhiOgzdqbKMPzDtCVMMz8nMGRw6JgyGBcUEpASuPrS3AIBHbL976i9")

	body

		canvas

		video(style="display: none; position: absolute;")
